<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="jquery-3.6.0.min.js">
	
</script>

<style type="text/css">
#myResult {
	border: 1px solid;
	width: 200px;
	height: 300px;
}
</style>
<body>
	<input type="text" id="myStar" value="">
	</div>
	<input type="button" value="스타트리" onclick="change()" />
	<br>
	<div id="myResult"></div>

	<script>
		function change() {
			let num = document.getElementById('myStar').value*1;
			let result = document.getElementById('myResult');
			let star = "";
			for (let i = 1; i < num + 1; i++) {
				for (let j = 0; j < i; j++) {
					star += "*";
				}
				star += "<br>";
			}
			result.innerHTML = star;
		}
	</script>
</body>
</html>