/.metadata/
/OPENCV_JAVA/
/HELLO_CV/
/HELLO_AI/day01/test/
/HELLO_AI/day01/train/
/HELLO_AI/day02/train/
/HELLO_AI/day04/test/
/HELLO_AI/day04/train/
/HELLO_AI/day03/0/
/HELLO_AI/day03/1/
/HELLO_AI/day03/2/
/HELLO_AI/day03/3/
/HELLO_AI/day03/4/
/HELLO_AI/day03/5/
/HELLO_AI/day03/6/
/HELLO_AI/day03/7/
/HELLO_AI/day03/8/
/HELLO_AI/day03/9/
/HELLO_AI/day03/test/
/HELLO_AI/day10/dataset/
/HELLO_AI/day22face/image/
/HELLO_AI/day22face/movie/
/HELLO_AI/day22_colab_omok/freestyle2/
/HELLO_AI/day21_gpu_omok/freestyle2/
/HELLO_AI/day20_colab/train_image/
/HELLO_AI2/day03/record/
/HELLO_AI2/day03/spectrum/
/HELLO_AI/day29/movie/
/HELLO_AI/day29/origin_images/
/HELLO_AI/day29/test_images/
/HELLO_AI/day29/train_images/
/HELLO_AI/day29/face.h5
/HELLO_AI/day29/face_3.h5
/HELLO_AI/day29/face_33.h5
/HELLO_AI/day29/face_256.h5
/HELLO_AI/day29/train_image.npy
/HELLO_AI/day26celeb/train_image/
/HELLO_AI/day26celeb/train_origin/
/HELLO_AI/day24mask/movie/
/HELLO_AI/day24mask/test_image/
/HELLO_AI/day24mask/train_image/
/HELLO_AI/day23face/movie/
/HELLO_AI/day23face/train_image/
/HELLO_AI/day21_omok_cnn/freestyle2/
