<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="jquery-3.6.0.min.js">
	
</script>

<style type="text/css">
input[type="button"] {
	cursor: pointer;
	border: 1px solid;
	width: 40px;
	height: 40px;
	margin: 5px;
	border: 1px solid;
}
</style>
<body>
	<input type="text" id="result" style="width: 155px;" readonly>
	<br>
	<input type="button" class="btn" value="7" />
	<input type="button" class="btn" value="8" />
	<input type="button" class="btn" value="9" />
	<br>
	<input type="button" class="btn" value="4" />
	<input type="button" class="btn" value="5" />
	<input type="button" class="btn" value="6" />
	<br>
	<input type="button" class="btn" value="1" />
	<input type="button" class="btn" value="2" />
	<input type="button" class="btn" value="3" />
	<br>
	<input type="button" class="btn" value="0" />
	<input type="button" value="del" onclick="del()"
		style="height: 40px; width: 96px" />
	<br>
	<input type="button" value="Call" onclick="call()"
		style="height: 40px; width: 152px" />

	<script>
		var text = $('#result');
		$('.btn').click(function btn(e) {
			text.val += e.target.val;
		});
		function del() {
			if (text.val.length > 0) {
				text.val = text.val.slice(0, -1);
			}
		};
		function call() {
			alert(text.val + "로 전화를 겁니다.");
		};
	</script>
</body>
</html>