<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="jquery-3.6.0.min.js">
	
</script>

<style type="text/css">
input[type="text"] {
	width: 20px;
}
</style>
<body>
	<input type="text" id="myLeft" value="">
	</div>
	+
	<input type="text" id="myRight" value="">
	</div>
	<input type="button" value="=" id="btn" />
	<input type="text" id="myResult" value="">
	</div>

	<script>
		$('#btn').click(function change() {
			$('#myResult').val = $('#myLeft').val * 1 + $('#myRight').val * 1;
		});
	</script>
</body>
</html>